header {
    padding-left: 100px;
    background-image: url("assets/octris.png");
    background-repeat: no-repeat;
    background-size: contain;
}

a {
    color: #007baa;
}
a:hover {
    color: #007baa;
}
div.bg-primary {
    background-color: #007baa !important;
}
div.border-primary {
    border-color: #007baa !important;
}
pre.file {
    border-left: #007baa;
}
code {
    color: #b34678;
}
